<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <h1>Members Only</h1>
      <nav class="navigation">
        <% if(locals.currentUser) { %>
        <a href="admin">Become admin</a>
        <a href="create-post">Create post</a>
        <% if(locals.currentUser.status !== "Member") { %>
        <a href="join-the-club">Join the Club</a>
        <% } %>
        <a href="sign-out">Sign out</a>
        <% } else { %>
        <a href="log-in">Log in</a>
        <% } %>
      </nav>
    </div>
    <div class="content"></div>
    <div class="footer"></div>
  </body>
</html>
