<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <h1>Members Only</h1>
    </div>
    <div class="content">
      <form action="" method="post">
        <div>
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" />
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
    <% if (locals.messages) { %>
    <p><%= messages.erorr %></p>
    <% } %>
    <div class="footer"></div>
  </body>
</html>
