extends layout

block content
  h2=title
  form(action="", method="post") 
    div 
      label(for="first_name") First name:
      input#first_name(type="text", name="first_name")
    div 
      label(for="last_name") Last name:
      input#last_name(type="text", name="last_name")
    div 
      label(for="email") Email: 
      input#email(type="email", name="email")
    div 
      label(for="password") Password: 
      input#password(type="password", name="password")
    button Submit
  div.errors
    if errors
        for (error in error):
          p #{error.msg}
    else if emailError
          p #{emailError}
